<title>To Do List</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: hsla(297, 36%, 67%, 0.341);
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: hwb(295 28% 67%);
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: hsla(51, 63%, 56%, 0.485);
		border-color: #dbbe88;
	}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link"> Welcome back {{request.user|title}} !</a> 
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Log out</a>
		  </li>
	  </ul>
	</div>
  </nav>

<div class="center-column">

	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task" value="Create Task ">
	</form>

	<div>
	{% for task in tasks reversed %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update' task.id %}">Update</a>
			<!--<a href="{% url 'items' task.id %}">{{task.title}}</a>-->
			<span class=" btn btn-sm btn-danger"><a style="text-decoration: none; color: rgb(228, 228, 236);" href="complete/{{task.id}}">Done</a></span>
			<a class="btn btn-sm btn-info" href="{% url 'items' task.id %}">Items</a>
			{% if task.complete %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>

